* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: unset !important;
}
body{
  font-family: "Oswald", sans-serif;
}

/* Section Style */
.section {
  height: 100vh;
}
