@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: unset !important;
}
body{
  font-family: "Oswald", sans-serif;
}

/* Section Style */
.section {
  height: 100vh;
}

/* Vertical Pagination */
.vertical-slider .swiper-pagination-bullet{
  width: 11px !important;
  height: 11px !important;
  background: #000 !important;
  margin: 12px 5px !important;
  transition: all 0.1s ease;
}
.vertical-slider .swiper-pagination-bullet-active{
  background: #e9202a !important;
}

@media screen and (max-width: 640px) {
  .vertical-slider .swiper-pagination-bullet{
    display: none;
  }
}

/* What We Do */
.what-we-do-card{
  border-right: 1.5px solid #c6c6c6;
}
.what-we-do-card:last-child{
  border-right: none;
}
.what-we-do-card::after{
  content: "";
  position: absolute;
  top: -100%;
  right: -1.5px;
  width: 1.5px;
  height: 100%;
  background-color: #e9202a;
  transition: top 0.4s ease;
}
.what-we-do-card:hover::after{
  top: 0;
}