.home-banner{
    width: 100%;
    height: 100vh;
    position: relative;
}
.home-banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-banner .banner-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    padding: 3rem 7%;
}
.home-banner .banner-content h1{
    color: #fff;
    font-size: 3.2rem;
    text-transform: uppercase;
}