.what-we-do{
    padding: 3rem 7%;
}

/* .what-we-do-head{
    display: flex;
    flex-direction: column;
    align-items: l;
} */
.what-we-do-head h1{
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 1rem;
}
.what-we-do-head h1 span{
    color: #e9202a;
}
.what-we-do-head p{
    font-size: 1.1rem;
    /* text-align: center; */
    color: #000;
    margin-top: 0.3rem;
}

.what-we-do-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.what-we-do-card{
    width: 25%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* background-color: #f7f7f7; */
    padding: 1rem 1rem;
    border-right: 2px solid #d1d1d1;
}
.what-we-do-card:last-child{
    border-right: 0;
}
.what-we-do-card img{
    width: 30%;
}
.what-we-do-card span{
    color: #e9202a;
    display: block;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.what-we-do-card p{
    font-size: 1rem;
    /* text-align: center; */
    color: #323232;
    margin-top: 1rem;
    font-weight: 400;
}